<div class="container">
  <div class="header">
    <!--Área do Botão-->
    <div class="header_banner">
      <h2>Titulo</h2>
      <div class="header_buttons"
      [ngStyle]="{
        'background-image': 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3))'
      }"     
      >

        <button class="play-button">
          <mat-icon>arrow_right</mat-icon>
          <span>play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More info</span>
        </button>

      </div>

    </div> <!--Fim do Banner-->


    <!--Main Area-->
    <div class="header_main" id='stickyHeader' [class.sticky]='sticky' #stickyHeader>
      <div class="header_left">
        <a routerLink="/">
          <img src="assets/img/netiflix.svg" alt="logo">
        </a>
        <ul>
          <li class='active'><a href="#">Home</a></li>
          <li><a href="#">TV Shows</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Latest</a></li>
          <li><a href="#">My List</a></li>
        </ul>
      </div>

      <div class='header_right'>
        <ul>
          <li><a href="#"><mat-icon>search</mat-icon></a></li>
          <li><a href="#">children</a></li>
          <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
          <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
          <li>
            <img src='assets/img/Foto-perfil.jpg' alt="avatar">
          </li>
        </ul>


      </div>
    </div> <!--Fim do Main-->

  </div>

  <div class="body" style="margin-top: 30;">
    <app-slider></app-slider>

  </div>


</div>