*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: gray;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear:both;}

header{
    background: black;
    padding: 12px 0;
}

/* Menu 1 header */

.header-left{
    float: left;
}

.header-left img{
    max-width: 100px;
}

.menu-header{
    position: relative;
    top: -10px;
    display: inline-block;
    margin-left: 20px;
}

.menu-header li{
    display: inline-block;
    margin-right: 15px;
}

.menu-header a{
    color: white;
    text-decoration: none;
}

/* */

.header-right{
    margin-top: 10px;
    float: right;
}

.search{
    display: inline-block;
}

/* .notifications{
    position: relative;
} */

/* .circle-notification{
    position: 3px;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #e50914;
} */

.header-right i{
    margin: 0 8px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.header-right a{
    color: white;
    text-decoration: none;
}


/* elementos base */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: silver;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}







/* elementos base */
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: silver;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.10),rgba(0,0,0,10)100%), url('../img/TheCrown-2.jpg');
    height: 600px;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color:black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
    color: white;
    background-color: black;
    
}

.owl-carousel {
    background-color: black;
}